<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.store.mapper.AdminMapper">

    <!-- 二级缓存-->
    <!--<cache readOnly="true" />-->

    <resultMap id="ProductResult" type="Product">
        <id property="product_id" column="product_id" />
        <result property="product_name" column="product_name" />
        <result property="category_id" column="category_id" />
        <result property="product_title" column="product_title" />
        <result property="product_intro" column="product_intro" />
        <result property="product_picture" column="product_picture" />
        <result property="product_price" column="product_price" />
        <result property="product_selling_price" column="product_selling_price" />
        <result property="product_num" column="product_num" />
        <result property="product_sales" column="product_sales" />
    </resultMap>

    <insert id="addProduct" parameterType="Product">
        insert ignore into product(product_id, product_name, category_id,
                                   product_title, product_intro, product_picture,
                                   product_price, product_selling_price, product_num, product_sales)
                values (#{product_id}, #{product_name}, #{category_id}, #{product_title}, #{product_intro},
                        #{product_picture}, #{product_price}, #{product_selling_price}, #{product_num}, #{product_sales})
    </insert>

    <update id="offShelfById">
        update product set isDeleted = 1 where product_id = #{product_id} limit 1
    </update>

    <update id="updateProduct">
        update product set product_name = #{product_name}, category_id = #{category_id}, product_title = #{product_tile},
                           product_intro = #{product_intro}, product_picture = #{product_picture}, product_price = #{product_price},
                           product_selling_price = #{product_selling_price}, product_num = #{product_num}, product_sales = #{product_sales}
            where product_id = #{product_id} limit 1
    </update>

    <update id="onShelfById">
        update product set isDeleted = 0 where product_id = #{product_id} limit 1
    </update>
</mapper>














