<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.store.mapper.UserMapper">

    <!-- 二级缓存-->
    <!--<cache readOnly="true" />-->

    <resultMap id="UserResult" type="User">
        <id property="user_id" column="user_id" />
        <result property="username" column="userName" />
        <result property="password" column="password" />
        <result property="phoneNumber" column="userPhoneNumber" />
    </resultMap>

    <select id="getUserByUsernameAndPassword" resultMap="UserResult">
        select * from users where userName = #{username} and password = #{password} limit 1
    </select>

    <select id="getUserByUsername" resultMap="UserResult">
        select * from users where userName = #{username} limit 1
    </select>

    <insert id="register">
        insert into users values(null, #{username}, #{password}, null)
    </insert>

    <resultMap id="CollectResult" type="Collect">
        <id property="id" column="id" />
        <result property="user_id" column="user_id" />
        <result property="product_id" column="product_id" />
        <result property="collect_time" column="collect_time" />
    </resultMap>

    <insert id="addCollect">
        insert into collect values(null, #{user_id}, #{product_id}, #{timestamp})
    </insert>

    <select id="getCollectByUserId" resultMap="CollectResult">
        select * from collect where user_id = #{user_id}
    </select>

    <select id="getCollectByUserIdAndProductId" resultMap="CollectResult">
        select * from collect where user_id = #{user_id} and product_id = #{product_id} limit 1
    </select>

    <delete id="deleteCollect">
        delete from collect where user_id = #{user_id} and product_id = #{product_id}
    </delete>
</mapper>














